*{
margin:0;
padding : 0;

}

html,body{
    height: 100% ;
    width: 100%;
    
}

#bg{
    background-size: cover;
    height: 100%;
    width:100%;
    background-image: url('./html.webp');
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 70px;

}